# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=driveease

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@driveease.com
PGADMIN_DEFAULT_PASSWORD=admin

# Backend
APP_NAME=DriveEase API
DEBUG=True
CORS_ORIGINS=["http://localhost:3000"]
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/driveease
MONGODB_URL=mongodb://localhost:27017/driveease
REDIS_URL=redis://localhost:6379/0
